.dashboard-header-container {
  z-index: 1;
  background-color: blanchedalmond;
  display: flex;
  width: 100vw;
  height: 18vh;
  justify-content: center;
  border: .5px solid gray;
  position: sticky;
  top: 0;
}

.header-title {
  z-index: 1;
  margin-top: 5vh;
  font-size: 4.5vw;
  letter-spacing: .4em;
  text-align: center;
  text-shadow: 10px 10px 18px #00000084;
}

.bookworm-img {
  position: absolute;
  margin-right: -71vw;
  /* margin-left: 3vw; */
  margin-top: 1vh;
  /* position: relative; */
  max-width: 11vw;
  /* height: auto; */
}
.bookshelf-img {
  margin-left: -76vw;
  /* margin-right: -71vw; */
  margin-top: 2.2vh;
  position: absolute;
  max-width: 21vw;
  height: auto;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 45px 20px -20px;
}