.bookgallery-container {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: auto;
};

.books-container {
    /* background-color: transparent; */
    margin-top: 2.5vh;
    margin-left: 10vw;
   z-index: 0;
    width: 75%;
    padding: 2% 5% 2% 5%;
    position: absolute;
    right: 0;
  }