.welcome-header-container {
    display: flex;
    width: 100vw;
    height: 18vh;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: blanchedalmond;
    height: auto;
}
.welcome-title {
    font-size: 4vw;
    letter-spacing: .4em;
    text-align: center;
}
.welcome-bookworm-img {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    margin-right: -80vw;
    margin-top: .8vh;
    position: absolute;
    max-width: 12vw;
    height: auto;
  }
